


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start home-about Area -->
@section baslik{
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Hakkımızda
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="video-area pt-100">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="about-video-right justify-content-center align-items-center d-flex relative">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="~/template/animalshelter/img/play-btn.png" alt=""></a>
                    </div>
                    <div class="description">
                        <h4> Burda Nasıl Yaşadıklarını İzle </h4>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testomial-area section-gap" id="testimonail">
        <div class="container">
           
            <div class="row">
                <div class="active-testimonial-carusel">
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/template/animalshelter/img/dg3.jpg" alt="">
                        <p class="desc">
                            Vizyonumuz, küresel anlamda, insanların, tüm canlıların yaşama hakkına saygı duyduğu, onlarla "birlikte"
                            yaşayabildiği bir dünya, yerel anlamda, Kadıköylüler'in sokak hayvanlarının yaşama hakkına saygı duyduğu,
                            duyarlılık ve hoşgörü gösterdiği, onlarla "birlikte", sağlık, güven ve huzurla yaşadığı bir Kadıköy yaratmaktır.
                        </p>
                        <h4>Vizyon</h4>

                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/template/animalshelter/img/c4.jpg" alt="">
                        <p class="desc">
                            *  Dünyada yaşayan insan ve hayvanların, "birlikte", sağlık, güven ve huzur içinde yaşamalarını sağlamak.

                            *  Doğal ortamlarında yaşayamayacak durumda olan hayvanların, sağlık, güven ve huzur içinde yaşamalarını sağlayacak ortamları bulmak, yaratmak ve sağlamak.

                            * Kadıköy'de yaşayan sokak hayvanlarının nüfusunu, çağdışı yöntemlere başvurmadan, kontrol altında tutmak.
                        </p>
                        <h4>Misyon</h4>

                    </div>
                    <div class="single-testimonial item">
                        <img class="mx-auto" src="~/template/animalshelter/img/dg6.jpg" alt="">
                        <p class="desc">
                            Sevgi<br />

                            İnsan sevgisi<br />

                            Hayvan sevgisi<br />

                            Çevre ve doğa sevgisi<br />
                            Saygı

                            Yaşama hakkına saygı<br />

                            Yaşayanlara saygı<br />

                            Yaşama saygı <br />
                            Duyarlılık<br />
                            Merhamet<br />
                            Hoşgörü<br />





                        </p>
                        <h4>Değerlerimiz</h4>
                        <p>
                            
                        </p>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End testomial Area -->
    <section class="home-about-area" id="about">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 home-about-left no-padding">
                    <img src="~/template/animalshelter/img/about-img.jpg" alt="">
                </div>
                <div class="col-lg-6 home-about-right no-padding">
                    <h1>
                        HEDEFİMİZ
                    </h1>
                    <p>
                       * Sokak hayvanlarının, yaşadıkları ortamda öldürülmesini, kötü muamele görmesini önlemek.<br />

                       * Bakıma muhtaç sokak hayvanlarının bakımını sağlamak.<br />

                       * Sokak hayvanlarının aşılanmasını sağlayarak, hem hayvan, hem toplum sağlığını korumak.<br />
                       * Tedaviye ihtiyacı olan sokak hayvanlarının tedavi edilmesini, tedavisi tamamlananların sahiplendirilmesini sağlamak.


                     </p>
                    @*<a href="#" class="primary-btn text-uppercase">get details</a>*@
                </div>
            </div>
        </div>
    </section>


}
<!-- End home-about Area -->