@model List<Cins>
<div class="tz-gallery">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a class="lightbox" href="@Url.Action("Home","")">
                    <img src="@item.IconUrl" alt="Park">
                </a>
                <div class="caption">
                    <h3>@item.Ad</h3>
                    <p>
                        @item.Ad
                </p>
            </div>
        </div>
    </div>
}
</div>